# Streamlit for UI
streamlit

# LangChain core and community packages
langchain
langchain-community
langchain-text-splitters
langchain-huggingface

# Groq LLM integration
langchain-groq

# Qdrant Vector Store
langchain-qdrant
qdrant-client

# Embeddings
sentence-transformers

# PDF loading
pypdf

# Required for text splitting and parsing
tqdm
